.projectCardStyle {
	width: 40vw;
	height: auto;	
	margin: 2vh auto 0 auto;
}


.projectCardImg {
	width: 100%;
	height: 130px;
	object-fit: cover;
}

.linkNoStyle:hover {
	text-decoration: none;
}

.linkNoStyle:visited {
	text-decoration: none;
}

.linkNoStyle:link {
	text-decoration: none;
}

.linkNoStyle:active {
	text-decoration: none;
}

@media (max-width: 768px) {
	.projectCardStyle {
		width: 100%;
		font-size: 11pt;
	}
}

